/*main*/ 
input{
    display: none;
  &:checked ~ .main-rigth{
     right:  -70%;
    
  }
}
.page{
    position: relative;
    overflow: hidden;
}
/*左侧内容*/ 
ul{
    position: absolute;
    width: 70%;
}
li{
    @include box(100%,59px);
    @include flex(space-around,row);
    border-bottom: $bordert;
    list-style-type: none;
    color: $color;
    span{
        @include box(10px,10px);
        border-bottom: $border;
        border-left: $border;
        transform: rotate(-135deg);
    }
}
/*右侧内容*/ 
.main-rigth{
    position: relative;
    right: 0;
    transition: 2s;
}
header{
    @include box(100%,60px);
    background-color: #29BDE0;
    label{
        display: flex;
       span{
        @include box(25px,6px);
        border-bottom: $borders;
        border-top: $borders;
        padding:  3px 0;
        margin: 18px;
        background-clip: content-box;
        background-color: white;
       }
      
     
    }
}

main {
    padding-top: 15px;
    background-color: white;
    .di{
       @extend %flex;
       box-shadow: 1px 1px 2px 2px;
        position: relative;
        height: 60px;
        margin-top: 0;
        margin: 15px;
        border: $borderl;
        color: #9A9A9A;
        .biao{
            position: absolute;
            top: calc(50% - 5px);
            right: 9px;
            height: 10px;
            width: 10px;
            border-bottom:$borders;
            border-left: $borders;
            transform: rotate(-135deg);
        }
    }
    .nei{
        display: flex;
        flex-direction: column;
        /* 因为是按列排布  所以下面这行的作用变成了 水平居中 */
        align-items: center;
        margin: 0 15px;
        margin-bottom: 10px;
        height: 400px;
        border: $borderl;
        box-shadow: 1px 1px 2px 2px #9A9A9A;
        .game {
            width: 100%;
            height: 45px;
            margin: 0 15px;
            border-bottom: 1px solid #FBB435;
            text-align: center;
            line-height: 45px;
            color: #FBB435;
        }
        .ban {
            margin-top: 15px;
        }
        .cai {
            @extend %flex;
            width: 100%;
            .sanj {
                position: absolute;
                right: 30px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #FBB435;
            }
        }
        button {
            height: 50px;
            width: 80%;
            border: 0;
            background-color: #29BDE0;
            font: 16px / 2px HiraginoSansGB-W3;
            font-weight: normal;
            color: rgba(255, 255, 255, 1);
            outline: none;
        }
        p {
            height: 50px;
            line-height: 50px;
            font: 12px /50px HiraginoSansGB-W3;
            font-weight: normal;
            color: rgba(120, 120, 120, 1);
        }
        .san {
          @extend %flex;
            height: 30px;
            margin: 0 15px;
            .dian1 {
                width: 6px;
                height: 6px;
                background-color: rgba(95, 192, 205, 1);
                border-radius: 3px;
                /* padding-right: 1px; */
                margin-right: 2px;
            
            }
            .dain2 {
                width: 6px;
                height: 6px;
                background-color: #F0F0F0;
                border-radius: 3px;
                margin-right: 2px;
            }
        }

    }

}